{{extend '../public/header' }}
{{block 'title'}}{{title}}{{/block}}
{{block 'keywords'}}{{keywords}}{{/block}}
{{block 'description'}}{{description}}{{/block}}
{{block 'content'}}
<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
<div class="blog-header">
        <h3 >{{title}}</h3>
        <h5 >{{ addTime | dateFormat 'YYYY年MM月DD日 HH:mm:ss'}} </h5>
            <!-- by <a href="#">{{nickname}}</a></p> -->
      </div>
      <hr class="featurette-divider" style="margin-top: 0px">
      <div class="row">
            <div class="col-sm-12 blog-main">
              {{if thumbnails}}
              {{each thumbnails }}
              <img class="lazy" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="  data-original="{{$value.pathName}}" style="max-width: 100%" ><div class="info">{{$value.fileName}}</div>
              {{/each}}
              {{/if}}
              <div class="blog-post" id="blog-post">
                 
                {{@content }}
              </div><!-- /.blog-post -->
              <nav aria-label="...">
                <ul class="pager">
                    {{if prevId}}
                    <li class="previous"><a href="{{currentNav}}?id={{@prevId}}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                   
                    {{/if}}
                    {{if nextId}}
                    <li class="next"><a href="{{currentNav}}?id={{@nextId}}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                     {{/if}}
                </ul>
              </nav>
            </div>
          </div>
         <!--PC版-->
         <script>
           $imgs = $('#blog-post').find('img')
            console.log($imgs)
            $imgs.each(function(i){
                $(this).addClass('lazy')
                $(this).attr('data-original',$(this)[0].src)
                $(this).attr('src','data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=')
            })
         </script>
         {{include '../public/comments' ,{id:_id,title:title} }}
         {{include '../public/footer'}}
          {{/block}}
         