<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%>-<%=siteTitle%></title>
</head>
<body>
  <% include public/header.ejs%>
    <ul>
    <%for(var i = 0;i<list.length;i++){%>
        <li><%=list[i]%></li>
    <%}%>
        
    </ul>
    <h2>绑定一个html模块</h2>
    <%-content%>
    <h2>条件判断</h2>
    <%if(num>24){%>
        大于24
    <%}else{%>
        小于24
    <%}%>
</body>
</html>