.root{
    max-width: 600px;
    padding: 10px;
    background: #fff;
}

.header{
   padding:0 10px;
}

.title{
    font-size: 18px;;
}

.message{
    font-size: 14px;
}
.buttons{
    padding: 10px;
}


