@import "@app/UI/Styles/Colors/index.scss";

.button {
    display: inline-block;
    outline: 0;
    font-size: 14px;
    border: none;
    padding: 8px 16px;
    line-height: 14px;
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    margin:0 8px;
    border: 1px solid $primary;
    background-color:$wihteColor;
    color: $primary;
    &:hover{
        background-color: lighten($primary,40%);
    }
}

.link{
    // border-color: transparent!important;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.text{
    border-color: transparent!important;
}

.primary ,.active{
    color:$wihteColor;
    background-color: $primary;
    border: 1px solid $primary;
    &:hover{
        border: 1px solid $primary;
        background-color: darken($primary,10%);
    }
}

.warning{
    color:$wihteColor;
    background-color: $warning;
    border: 1px solid $warning;
    &:hover{
        border: 1px solid $warning;
        background-color: darken($warning,10%);
    }
}


.outlined{
    border: 1px solid $primary;
    background-color:$wihteColor;
    color: $primary;
    &:hover{
        background-color: lighten($primary,40%)!important;
    }
}