.text-start{
    text-align: left;
}

.text-center{
    text-align:center;
}
.text-right{
    text-align: right;
}

.text-no-wrap{
    white-space: nowrap !important;
}
.text-truncate{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.text-lowercase{
    text-transform: lowercase !important;
}
.text-uppercase{
    text-transform: uppercase !important;
}

.text-capitalize{
    text-transform: capitalize !important;
}

a.textLink{
    color: #9eabb3;
}

.text-pre{
  
       
  pre{
    overflow: visible;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
   
    word-break: break-all;
    word-wrap: break-word;
    background-color: #23241f;
    color: #f8f8f2;
    border: 1px solid #ccc;
   
    border-radius: 4px;
    overflow: auto;
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
      }
  }
}